<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/patterns/search.html" target="_blank">Veja os padrões de busca do MD</a></p>

<p><strong>Busca Persistente:</strong></p>
<form action="#">
	<i class="material-icons">search</i>
	<div class="mdl-textfield mdl-js-textfield textfield-demo">
	  <input class="mdl-textfield__input" type="text" id="sample1" />
	  <label class="mdl-textfield__label" for="sample1">O que deseja buscar?</label>
	</div>
</form>
<br />
<strong>Busca Expansível:</strong></p>
<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample2">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="sample2">
      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
    </div>
  </div>
</form>