<p style="text-align: right;">
  <a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/patterns/notifications.html" target="_blank">Veja os padrões de notificações do MD</a>
  <br />
  <a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/components/snackbars-toasts.html" target="_blank">Veja os padrões de snackbars e toasts do MD</a>
</p>


<button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="button">Exibir Snackbar</button>

&nbsp;

<button id="demo-show-toast" class="mdl-button mdl-js-button mdl-button--raised" type="button">Exibir Toast</button>

<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<script>
(function() {
  'use strict';
  var snackbarContainer = document.querySelector('#demo-snackbar-example');
  var showSnackbarButton = document.querySelector('#demo-show-snackbar');
  var handler = function(event) {
    showSnackbarButton.style.backgroundColor = '';
  };
  showSnackbarButton.addEventListener('click', function() {
    'use strict';
    showSnackbarButton.style.backgroundColor = '#' +
        Math.floor(Math.random() * 0xFFFFFF).toString(16);
    var data = {
      message: 'Button color changed.',
      timeout: 2000,
      actionHandler: handler,
      actionText: 'Undo'
    };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  });
}());

(function() {
  'use strict';
  window['counter'] = 0;
  var snackbarContainer = document.querySelector('#demo-toast-example');
  var showToastButton = document.querySelector('#demo-show-toast');
  showToastButton.addEventListener('click', function() {
    'use strict';
    var data = {message: 'Exemplo de Mensagem # ' + ++counter};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  });
}());
</script>