<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/components/text-fields.html" target="_blank">Veja os padrões de campos do MD</a></p>

<p><strong>Definiton of Done</strong></p>
<ul class="bullet-list">
	<li>Campos de e-mails verificam a presença de pelo menos um ponto (.) e um at (@).</li>
	<li>Campos de valores possuem máscara para valores (0,00) e não aceitam a digitação de caracteres que não sejam os 10 algarismos.</li>
	<li>Campos de CEP possuem máscara (_____-__)</li>
	<li>Campos de Telefone não aceitam caracteres especiais fora hífen (-) e parenteses nem letras.</li>
	<li>Campos de data usam datepicker.</li>
</ul>