<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/patterns/buttons.html" target="_blank">Veja os padrões de botões do MD</a></p>

<button class="mdl-button mdl-js-button {{ buttonClass }}">
{{ cta }}
</button>