<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/components/dividers.html" target="_blank">Veja os padrões de dividers do MD</a></p>

<hr />