<p><strong>Modal Column</strong></p>
<p>Se o teu projeto usa Boostrap e você precisa exibir alguns detalhes de um registro da grid, talvez o modalColumn seja uma boa alternativa. Esse modalColumn gera uma coluna na linha da grid que inclui um link para um modal. O conteúdo desse modal pode ser estático ou ajax (e o ajax pode ser html ou json).</p>

<img src="../../images/organismos_grid_modal.png" alt="Grid Modal Column" style="width: 600px;" />