<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/components/steppers.html" target="_blank">Veja os padrões de steppers do MD</a></p>

<img src="../../images/organismos_wizard.png" alt="Wizard" />