<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://select2.github.io/" target="_blank">Veja os padrões do Select2</a></p>


<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script>

<select class="js-example-basic-single" style="width: 20em;">
  <option value="AL">Alabama</option
>j  <option value="WY">Wyoming</option>
</select>