<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-multiple").select2();
});
</script>


<select class="js-example-basic-multiple" multiple="multiple" style="width: 20em;">
  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select>