<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/components/tooltips.html" target="_blank">Veja os padrões de tooltip do MD</a></p>


<!-- Simple Tooltip -->
<div id="tt1" class="icon material-icons">{{ tooltipIcon }}</div>
<div class="mdl-tooltip {{ tooltipClass }}" for="tt1">
{{ text }}
</div>
