<p style="text-align: right;"><a class="mdl-button mdl-js-button mdl-button--primary" href="https://material.io/guidelines/components/expansion-panels.html" target="_blank">Veja os padrões de expansion panels do MD</a></p>

<img src="../../images/organismos_toggle.png" alt="Toggle" />