<table style="text-align: center;">
	<tr>
		<td style="padding: 0 2em;">
			<img src="../../images/LOGO_FDZ.png" alt="Outras Assinaturas" width="150px" />
		</td>
		<td style="padding: 0 2em;">
			<img src="../../images/LOGO_FIDELIZE.png" alt="Logotipo" width="200px" />
		</td>
		<td style="padding: 0 2em;">
			<img src="../../images/SIMBOLO.png" alt="Símbolo" width="50px" />
		</td>
	</tr>
	<tr>
		<td style="padding: 1em 2em;">
			<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="img/LOGO_FDZ .png" target="_blank">Baixar</a>
		</td>
		<td style="padding: 0 2em;">
			<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="img/LOGO_FIDELIZE.png" target="_blank">Baixar</a>
		</td>
		<td style="padding: 0 2em;">
			<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="img/SIMBOLO.png" target="_blank">Baixar</a>
		</td>
	</tr>
</table>