<p>A tipologia principal aplicada à sistemas é a <a href="https://fonts.google.com/specimen/Titillium+Web" target="_blank">Titillium Web</a>. Ela substitui a tipologia principal (Sanuk) nestes casos. Para utilizá-la você precisa:</p>

<p>1. Adicionar a fonte na tag head do seu HTML:</p>
<p><code>
	link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
</code></p>

<p>2. Atribuir a regra da fonte em seu CSS:</p>
<p><code>
font-family: 'Titillium Web', sans-serif;
</code></p>

<br />

<img src="../../images/tipologia.png" alt="Tipografia Principal" width="500px" />
&nbsp;
<img src="../../images/tipologia_secundaria.png" alt="Tipografia Secundária" width="500px" />