<table style="line-height: normal !important;">
	<tr>
		<td class="type" style="padding-right: 5em;">Display 4</td>
		<td><span style="font-weight: light; font-size: 112px">Light 112sp</span></td>
	</tr>
	<tr>
		<td class="type">Display 3</td>
		<td><span style="font-weight: regular; font-size: 56px">Regular 56sp</span></td>
	</tr>
	<tr>
		<td class="type">Display 2</td>
		<td><span style="font-weight: regular; font-size: 45px">Regular 45sp</span></td>
	</tr>
	<tr>
		<td class="type">Display 1</td>
		<td><span style="font-weight: regular; font-size: 34px">Regular 34sp</span></td>
	</tr>
	<tr>
		<td class="type">Title</td>
		<td><span style="font-weight: bold; font-size: 20px">Medium 20sp</span></td>
	</tr>
	<tr>
		<td class="type">Subheading</td>
		<td><span style="font-weight: regular; font-size: 15px">Regular 16sp (Device), Regular 15sp (Desktop)</span></td>
	</tr>
	<tr>
		<td class="type">Body 2</td>
		<td><span style="font-weight: bold; font-size: 13px">Medium 14sp (Device), Medium 13sp (Desktop)</span></td>
	</tr>
	<tr>
		<td class="type">Body 1</td>
		<td><span style="font-weight: regular; font-size: 13px">Regular 14sp (Device), Regular 13sp (Desktop)</span></td>
	</tr>
	<tr>
		<td class="type">Caption</td>
		<td><span style="font-weight: regular; font-size: 12px">Regular 12sp</span></td>
	</tr>
	<tr>
		<td class="type">Button</td>
		<td><span style="font-weight: bold; font-size: 14px">MEDIUM (ALL CAPS) 14sp</span></td>
	</tr>
</table>