<p><strong>São as cores da marca Fidelize:</strong></p>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #173557;"></span>
		<span class="sg-label">
			#173557
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8AB5E1;"></span>
		<span class="sg-label">
			#8AB5E1
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F39200;"></span>
		<span class="sg-label">
			#F39200
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFD618;"></span>
		<span class="sg-label">
			#FFD618
		</span>
	</li>
</ul>
<br />

<p><strong>Primária</strong></p>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #173557;"></span>
		<span class="sg-label">
			#173557 (Primária)
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #465e84;"></span>
		<span class="sg-label">
			#465e84 (Light)
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000e2e;"></span>
		<span class="sg-label">
			#000e2e (Dark)
		</span>
	</li>
</ul>
<br />

<p><strong>Secundária</strong></p>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #8ab5e1;"></span>
		<span class="sg-label">
			#8ab5e1 (Secundária)
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bce7ff;"></span>
		<span class="sg-label">
			#bce7ff (Light)
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5985af;"></span>
		<span class="sg-label">
			#5985af (Dark)
		</span>
	</li>
</ul>