<p><strong>Quando criar um novo componente</strong></p>
<p>Quando um componente aparecer mais de três vezes e ainda não for um componente. Neste caso:</p>
<ul>
	<li>Comece por dar um nome ao componente que deseja criar.</li>
	<li>Mapeie todos os lugares onde o componente que você criará substituirá código descentralizado.</li>
	<li><strong>Não crie um componente ainda! Comece as discussões! Envie sua idéia para produtos@fidelize.com.br</strong></li>
</ul>
<br />

<p><strong>Descobrindo repetições</strong></p>
<ul>
	<li>Coloque coisas parecidas próximas, para revelar suas diferenças</li>
	<li>Quando for efetivamente começar o trabalho de desenvolvimento, adicione todas as versões do widget conflitante e centralize seu código</li>
</ul>
<br />

<p><strong>Como criar um novo componente</strong></p>
<ul>
	<li>Especifique um novo componente (visual + comportamento + nome)</li>
	<li>Implemente o widget no style guide</li>
	<li>Reuse o widget em todo o sistema</li>
	<li>Comunique a existência do novo componente</li>
</ul>