<p><strong>Guias da Fidelize</strong></p>
<ul>
	<li><a href="https://docs.google.com/presentation/d/1epyWIkPBwfWlBUEuSxYheKKW1RQVTCvngWbozoIeqkE/edit#slide=id.g24a8f10f58_0_15" target="_blank">Interface Inventory</a></li>
</ul>

<p><strong>Design Guidelines</strong></p>
<ul>
	<li><a href="https://medium.com/salesforce-ux/designing-products-that-scale-c8f3001f709b target="_blank">Designing Products That Scale: the design system and style guide behind Salesforce1</a></li>
	<li><a href="https://airbnb.design/building-a-visual-language/" target="_blank">Airbnb - Building a Visual Language: Behind the scenes of our new design system.</a></li>
	<li><a href="https://engineeringblog.yelp.com/2014/02/yelps-got-style-and-the-guide-to-back-it-up.html" target="_blank"> Yelp’s got style (and the guide to back it up)</a></li>
	<li><a href="https://24ways.org/2011/front-end-style-guides/" target="_blank"> Front-end Style Guides</a></li>
	<li><a href="https://airbnb.design/the-way-we-build/ The Way We Build: How rethinking the Airbnb app changed the way we approach design</a></li>
	<li><a href="https://www.quora.com/What-should-a-UX-style-guide-contain" target="_blank"> Quora: What should a UX style guide contain?]</li>
	<li><a href="https://s3-ap-southeast-1.amazonaws.com/tv-prod/documents/7712-uxpin_guide_to_uxdesign_process_and_documentation.pdf" target="_blank"> The guide to UX Design Process & Documentation (PDF)</a></li>
	<li><a href="https://design.google/library/design-never-done/" target="_blank"> Design Is Never Done: Material Design’s new suite of tools and guidelines—all in one place</a></li>
</ul>

<p><strong>Componentização</strong></p>
<ul>
	<li><a href="http://www.stubbornella.org/content/2013/06/05/creating-living-style-guides-to-improve-performance/" target="_blank"> Creating living style guides to improve performance</a></li>
	<li><a href="https://speakerdeck.com/thoughtmerchant/unifying-agile-and-ux-with-live-style-guides" target="_blank"> Unifying Agile and UX with Live Style Guides</a></li>
</ul>

<p><strong>UX Heuristics</strong></p>
<ul>
	<li><a href="https://blog.prototypr.io/10-usability-heuristics-with-examples-4a81ada920c" target="_blank">10 Usability Heuristics with Examples</a></li>
</ul>

<p><strong>Guidelines de Empresas</strong></p>
<ul>
	<li><a href="https://www.ibm.com/design/language/" target="_blank">IBM</a></li>
	<li><a href="https://www.yelp.com/styleguide target="_blank">Yelp</a></li>
	<li><a href="http://ux.mailchimp.com target="_blank">Mailchimp</a></li>
	<li><a href="https://www.lightningdesignsystem.com/guidelines/overview/ target="_blank">Salesforce</a></li>
	<li><a href="https://developer.apple.com/macos/human-interface-guidelines/overview/themes/ target="_blank">Apple</a></li>
	<li><a href="http://www.bbc.co.uk/gel target="_blank">BBC</a></li>
	<li><a href="https://www.starbucks.com/static/reference/styleguide/ target="_blank">Starbucks</a></li>
	<li><a href="https://material.io/guidelines/ target="_blank">Google</a></li>
</il>